<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="0XUDiawuxwr1S-AQtev2qD57cBu6rADoN6eff6qySlc" />
    <meta name="description" content="Discover everything about Arenathon, hackthons frontend event backend arenathon">
    <title>Arenathon</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .btn_start:hover{
            background-color: rgb(46, 158, 46);
            color: black;
        }
    </style>
</head>

<body>
    <script async src="https://cse.google.com/cse.js?cx=64a9336806f8a4b9b">
    </script>
    <div class="gcse-search"></div>
    <div class="container">
        <nav class="navbar bg-body-tertiary bg-success-subtle">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="/images/logo-color.svg" alt="Bootstrap" width="50" height="50">
              </a>
            </div>
          </nav>
        <main class="row">
            <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary"
                style="background-image: url(https://images.unsplash.com/photo-1441974231531-c6227db76b6e?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); background-position: center;background-size: covers; backdrop-filter: blur(10px);">
                <div class="col-md-6 p-lg-5 mx-auto my-5">
                    <h1 class="display-3 fw-bold text-light" style="text-shadow: 1px 1px 3px black;">FarmFresh</h1>
                    <h3 class="fw-normal mb-3 text-light" style="text-shadow: 1px 1px 3px black;">Have a fresh food</h3>
                    <div class="d-flex gap-3 justify-content-center lead fw-normal">
                        <a class="icon-link text-light bg-success  btn_start" style="padding: 10px 30px; border-radius: 20px;text-decoration: none;text-shadow: 1px 1px 3px black;" href="/login">Get Started
                        </a>
                    </div> 
                </div>
                <div class="product-device shadow-sm d-none d-md-block"></div>
                <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
            </div>

            <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
                <div class="bg-success me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 py-3">
                        <h2 class="display-5">Get Seller location</h2>
                        <p class="lead">Go and get your product</p>
                    </div>
                    <div class="bg-body-tertiary shadow-sm mx-auto"
                        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script><lottie-player src="https://lottie.host/a01e38ad-d47f-41ca-a3d4-4643918cc6d3/0LrEoV9vfQ.json" background="##FFFFFF" speed="1" style="width: 100%; height: 100%" loop  autoplay direction="1" mode="normal"></lottie-player></div>
                </div>
                <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 p-3">
                        <h2 class="display-5">Help Farmer to Grow</h2>
                        <p class="lead">Buy direct fresh product from farmer</p>
                    </div>
                    <div class="bg-dark shadow-sm mx-auto"
                        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    <img src="/images/farmer-illustration-01.png" style="width: 100%; height: 100%;"></div>
                </div>
            </div>
        </main>

        <footer class="container py-5">
            <div class="row">
                <div class="col-12 col-md">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img"
                        viewBox="0 0 24 24">
                        <title>Product</title>
                        <circle cx="12" cy="12" r="10"></circle>
                        <path
                            d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94">
                        </path>
                    </svg>
                    <small class="d-block mb-3 text-body-secondary">© 2024-2025</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="link-secondary text-decoration-none" href="#">Fresh products</a></li>
                        <li><a class="link-secondary text-decoration-none" href="#">Grow Farmers</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>developer</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="link-secondary text-decoration-none" href="https://getbootstrap.com">Bootstrap</a></li>
                        <li><a class="link-secondary text-decoration-none" href="https://unsplash.com">Unsplash</a></li>
                        <li><a class="link-secondary text-decoration-none" href="https://www.instagram.com/developer_aadesh/">developer_aadesh</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="link-secondary text-decoration-none" href="#">Business</a></li>
                        <li><a class="link-secondary text-decoration-none" href="#">Education</a></li>
                        <li><a class="link-secondary text-decoration-none" href="#">Government</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="link-secondary text-decoration-none" href="#">Team</a></li>
                        <li><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
                        <li><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
                        <li><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>




</body>

</html>